#principal{
	width: 400px;	
}
.alinhar{
	text-align: center;		
}
.margem{
	margin-left: 50px;
}
.fontes{
	font-size: 100px;
	color: red;	
}

.item{
	padding-top: 80px;
}
.botaoCad{
	float: right;
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 50px;	
}

label{
  cursor: pointer;
}

div label{
	margin-top: 17px;
}

.cadastro{
	font-size: 12px;	
}

body div input.form-control{	
	height: 60px;		
	text-transform: uppercase;
	border: 1px solid #3d3d3d;
}

#email{
	text-transform: none;
}
fieldset legend{	
	padding-top: 50px;
	font-size: 22px;
}